1.	If  name = ''' Hi How are you?
Starterd learning python.
It's really interesting.''' Then what is the output of following code
•	name[:]
•	name[-10:-5]
•	name[3:12]
•	name[12:3]
•	name[5,6]
•	name[-4:-12]
•	name[::2]
•	name[::-2]

In [ ]:

name = ''' Hi How are you?Starterd learning python.It's really interesting.'''

In [ ]:

name[:]

" Hi How are you?\nStarterd learning python.\nIt's really interesting."

In [ ]:
name[-10:-5]

'teres'

In [ ]:
name[3:12]

' How are '

In [ ]:
name[12:3]

''

In [ ]:
name[5,6]

TypeError: string indices must be integers, not 'tuple'

In [ ]:
name[-4:-12]

''

In [ ]:
name[::2]

' iHwaeyu\ntredlann yhn\ntsral neetn.'

In [ ]:
name[::-2]

'.nteen larst\nnhy nnaldert\nuyeawHi '

Q2:2.	 L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]
a.	L1[:]
b.	L1[::3]
c.	L1[::-2]
d.	How to extract  value “Happy” based on index and negative index
e.	How to check type of data in list at 4th position
f.	Extract values for 100, 300, 400

In [ ]:
L1 = ['a' , 'b', 20, 30,'t', 100, 300, 400, 'happy','major']

In [ ]:
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'happy', 'major']

In [ ]:
	L1[::3]

['a', 30, 300, 'major']

In [ ]:
	L1[::3]

['a', 30, 300, 'major']

In [ ]:
L1[::3]

['a', 30, 300, 'major']

In [ ]:

L1[::-2]

['major', 400, 100, 30, 'b']

In [ ]:
#d.	How to extract  value “Happy” based on index and negative index

In [ ]:

#e.	How to check type of data in list at 4th position

In [ ]:
#f.	Extract values for 100, 300, 400

3.	If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following
•	L2[4]
•	L2[1:5]
•	L2[7]
•	L2[7][2]
•	L7[7][2:]
•	L2[ : 3]
•	L2[3:]

In [ ]:
# Given List
l2 = [1, 2, 3, 5, ['a', 'b', 'work hard'], 100, 200, "Success"]


print("L2[4] =", l2[4])


print("L2[1:5] =", l2[1:5])


print("L2[7] =", l2[7])


print("L2[7][2] =", l2[7][2])


print("L2[7][2:] =", l2[7][2:])


print("L2[:3] =", l2[:3])


print("L2[3:] =", l2[3:])

L2[4] = ['a', 'b', 'work hard']
L2[1:5] = [2, 3, 5, ['a', 'b', 'work hard']]
L2[7] = Success
L2[7][2] = c
L2[7][2:] = ccess
L2[:3] = [1, 2, 3]
L2[3:] = [5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
# Q4: Change 'b' to 'BEE'
print(f"Before: {l2[4]}")
l2[4][1] = 'BEE'
print(f"After: {l2[4]}")

Before: ['a', 'b', 'work hard']
After: ['a', 'BEE', 'work hard']

In [ ]:
## 5.	From l2 “BEE” has to discard.

print(f"Before: {l2[4]}")
l2[4].remove('BEE')
print(f"After: {l2[4]}")

Before: ['a', 'BEE', 'work hard']
After: ['a', 'work hard']

In [ ]:
#6.	In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}
l2.append({'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']})

In [ ]:
#7.	From l2 extract insect information.'
insect_info = l2[-1]['insect']
print(f"Insects: {insect_info}")

Insects: ['bee', 'moth']

In [ ]:
#8:	Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2
d1 = {'a': 10, 'b': 20, 'c': 30}
l2.insert(1, d1)
print(f"item at position 1: {l2[1]}")

Item at position 1: {'a': 10, 'b': 20, 'c': 30}

In [ ]:
#check whether is is add or not
l2

[1,
 {'a': 10, 'b': 20, 'c': 30},
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']},
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
#9:Based on new l2 created here extract the value 10 from l2 dictionary.
value = l2[1]['a']
print(f"Value: {value}")

Value: 10

#10:	If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following
•	L2[4][2]
•	L2[5][:]
•	L2[2] [:]
•	L2[1:5]
•	L2[5]
•	L2[5][3:-1]
•	L2[-1]
•	L2[-4, -3]
•	L2[-4: -10]
•	L2[7][2]
•	L7[-7][[2:]
•	L2[ :- 3]
•	L2[-3:]

In [ ]:
l2_new =[1,2,3,5, (90,40,50,10),'python', 400 ,['a', 'b', 'work hard'],100 , 200, "success", (200,300, "Hundreds")]

In [ ]:
l2_new[4][2]

50

In [ ]:
l2_new[4][2]
l2_new[5][:]
l2_new[2][:]
l2_new[1:5]
l2_new[5]
l2_new[7][1:-1]
l2_new[-1]
l2_new[-4][-3]
l2_new[-4:-10]
l2_new[7][2]
l2_new[-7][2:]
l2_new[:-3]
l2_new[-3:]

TypeError: 'int' object is not subscriptable

In [ ]:
# 11. Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails
# If marks are more than 80 output must be “You got distinction”
# For marks more than 60 output must be “You got First class”
# Marks more than 40 will display “You got second class”
# Marks more than or equal to 35 “PASS” Otherwise Fail
try:
  Marks = input("Enter marks: ")

  if (not Marks.isalnum() and not Marks.isalpha()) or not Marks.isdigit():
    print("Invalid input")

  else:
    Marks = float(Marks)

    if Marks < 0 or Marks > 100:
        print("Marks must be between 0 and 100.")

    elif Marks >= 80:
        print("Distinction")

    elif Marks >= 70:
        print("First class")

    elif Marks >= 50:
        print("Second class")

    elif Marks >= 35:
        print("Pass")

    else:
        print("Fail")

except ValueError:
    print("Invalid input. Please enter a valid number.")

Enter marks: 0
Fail

'pass'

In [ ]:
#12	Ask user to enter information about salary of the employee per year and rating received as A, B, C, D
# If salary upto 5 lpa then increament based on ratings are  A = 16% , B=12%, C= 10%, D=6%
# If salary upto 10 lpa then increament based on ratings are  A = 14% , B=10%, C= 8%, D=6%
# If salary upto 15 lpa then increament based on ratings are  A = 8% , B=6%, C= 4%, D = no increment
# If salary upto 23 lpa then increament based on ratings are  A = 7% , B=5%, C= 4%, D=no\
salary = float(input("Enter annual salary (in LPA): "))
rating = input("Enter rating (A/B/C/D): ")

increment = 0

if salary <= 5:
    if rating == 'A':
        increment = 16
    elif rating == 'B':
        increment = 12
    elif rating == 'C':
        increment = 10
    elif rating == 'D':
        increment = 6

elif salary <= 10:
    if rating == 'A':
        increment = 14
    elif rating == 'B':
        increment = 10
    elif rating == 'C':
        increment = 8
    elif rating == 'D':
        increment = 6

elif salary <= 15:
    if rating == 'A':
        increment = 8
    elif rating == 'B':
        increment = 6
    elif rating == 'C':
        increment = 4
    elif rating == 'D':
        increment = 0

elif salary <= 23:
    if rating == 'A':
        increment = 7
    elif rating == 'B':
        increment = 5
    elif rating == 'C':
        increment = 4
    elif rating == 'D':
        increment = 0

new_salary = salary + (salary * increment / 100)
print("Increment:", increment, "%")
print("New Salary:", new_salary, "LPA")

Enter annual salary (in LPA): 900000
Enter rating (A/B/C/D): A
Increment: 0 %
New Salary: 900000.0 LPA

In [ ]:
 # using function
# this code clear all the test cases , also take care of all the inputs and all

def increment_salary(salary, rating):

    rating = rating.upper()

    if rating not in ['A', 'B', 'C', 'D']:
        print("Error: Rating must be A, B, C, or D")
        return


    if salary < 0 or salary > 2300000:
        print("Error: Salary must be between 0 and 23 LPA")
        return

    increment = 0


    if salary <= 500000:
        if rating == 'A':
            increment = 16
        elif rating == 'B':
            increment = 12
        elif rating == 'C':
            increment = 10
        elif rating == 'D':
            increment = 6


    elif salary <= 1000000:
        if rating == 'A':
            increment = 14
        elif rating == 'B':
            increment = 10
        elif rating == 'C':
            increment = 8
        elif rating == 'D':
            increment = 6


    elif salary <= 1500000:
        if rating == 'A':
            increment = 8
        elif rating == 'B':
            increment = 6
        elif rating == 'C':
            increment = 4
        elif rating == 'D':
            increment = 0


    elif salary <= 2300000:
        if rating == 'A':
            increment = 7
        elif rating == 'B':
            increment = 5
        elif rating == 'C':
            increment = 4
        elif rating == 'D':
            increment = 0

    new_salary = salary + (salary * increment / 100)

    print("Salary:", salary, "LPA")
    print("Rating:", rating)
    print("Increment:", increment, "%")
    print("New Salary:", new_salary, "LPA")

    return new_salary

In [ ]:
increment_salary(500000, 'A')

Salary: 500000 LPA
Rating: A
Increment: 16 %
New Salary: 580000.0 LPA

580000.0

In [ ]:
#13.	Ask user to opt for courses for master degree based on the following
# L1 = [“HR”, “Finance”, “Marketing”, “DS”]
# Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. Analytics is the optional subject and having added extra fees. DS is not having analytics.
# If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.
# If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .
# Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.
# User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

subject = input("Enter subject (HR/Finance/Marketing/DS): ")
analytics = input("Analytics (Y/N): ").upper()
hostel = input("Hostel (Y/N): ").upper()
food_months = int(input("Food months: "))
transport = input("Transportation (semester/annual): ").lower()
L1 = ["HR", "Finance", "Marketing", "DS"]

total_fee = 0


course_fee = 200000


if analytics == 'Y' and subject in ["HR", "Marketing"]:
    course_fee += course_fee * 0.10

total_fee += course_fee


if hostel == 'Y':
    total_fee += 200000


total_fee += food_months * 2000


if transport == "semester":
    total_fee += 13000 * 2
elif transport == "annual":
    total_fee += 13000 * 2

print("Total Annual Cost: rs", int(total_fee))

Enter subject (HR/Finance/Marketing/DS): HR
Analytics (Y/N): Y
Hostel (Y/N): Y
Food months: 2
Transportation (semester/annual): annual
Total Annual Cost: ₹ 450000

In [ ]:
#13- function
def calculate_total_cost(subject, analytics, hostel, food_months, transport):
  L1 = ["HR", "Finance", "Marketing", "DS"]

  total_fee = 0
  course_fee = 200000
  if analytics == 'Y' and subject in ["HR", "Marketing"]:
    course_fee += course_fee * 0.10

  total_fee += course_fee

  if hostel == 'Y':
    total_fee += 200000

  total_fee += food_months * 2000

  if transport == "semester":
    total_fee += 13000 * 2
  elif transport == "annual":
    total_fee += 13000 * 2

  print("Total Annual Cost: rs", int(total_fee))
  return total_fee

calculate_total_cost("HR", "Y", "Y", 6, "semester")

Total Annual Cost: rs 458000

458000.0

14.	Digitalize the book allotment process for school. Charges are mentioned here in the given table:**bold text**
![image.png]()

In [ ]:
# Book Store Data
bookstore = {

    "1st-4th": {
        1: {"Hindi": 60, "English": 80, "Maths": 100},
        2: {"Hindi": 100, "English": 120, "Maths": 120},
        3: {"Hindi": 150, "English": 150, "Maths": 250},
        4: {"Hindi": 150, "English": 150, "Science": 250}
    },

    "5th-8th": {
        1: {"Hindi": 60, "English": 80, "Maths": 100},
        2: {"Hindi": 100, "English": 120, "Science": 140},
        3: {"Hindi": 150, "English": 150, "Maths": 250},
        4: {"Hindi": 150, "English": 150, "Science": 250}
    },

    "9th-10th": {
        1: {"Hindi": 100, "English": 100, "Maths": 200},
        2: {"Hindi": 120, "English": 120, "Science": 250},
        3: {"Hindi": 150, "English": 150, "Maths": 250},
        4: {"Hindi": 150, "English": 150, "Science": 250}
    },

    "Notebooks": {
        1: {"Square": 40, "Single Line": 30},
        2: {"Square": 50, "Single Line": 50},
        3: {"Square": 60, "4 Lines": 60},
        4: {"A4": 100}
    }
}


groups = {
    "1": "1st-4th",
    "2": "5th-8th",
    "3": "9th-10th",
    "4": "Notebooks"
}

cart = []
total = 0



def show_menu():
    print("\n----BOOKSTORE ---")
    print("1. 1st-4th")
    print("2. 5th-8th")
    print("3. 9th-10th")
    print("4. Notebooks")
    print("0. Exit")


while True:

    show_menu()
    choice = input("select from menu   :")

    if choice == "0":
        break

    if choice not in groups:
        print(" invalid Choice!")
        continue

    group = groups[choice]

    print("\n books available:")
    for i in range(1, 5):
        print(f"{i}. Book {i}")

    book = input("Select Book (1-4): ")

    if book not in ["1", "2", "3", "4"]:
        print(" Invalid Book Number!")
        continue

    book = int(book)

    subjects = bookstore[group][book]

    print("subjects:")
    sub_list = list(subjects.keys())

    for i, s in enumerate(sub_list, 1):
        print(f"{i}. {s} - rs{subjects[s]}")

    sub_choice = input("Select Subject: ")

    if not sub_choice.isdigit() or int(sub_choice) not in range(1, len(sub_list)+1):
        print(" Invalid Subject!")
        continue

    sub_choice = int(sub_choice) - 1

    subject = sub_list[sub_choice]
    price = subjects[subject]

    cart.append((subject, price))
    total += price
    print(f" Added: {subject} - rs{price}")

print("\n bILL ")
for item, price in cart:
    print(f"{item:<15} rs{price}")

print("----------------------")
print(f "TOTAL :  rs{total}")
print("======================")

====== BOOK STORE ======
1. 1st-4th
2. 5th-8th
3. 9th-10th
4. Notebooks
0. Exit

In [ ]:
# using exception 
# taking care of all the inputs and all the test cases
# Book Store Data
bookstore = {

    "1st-4th": {
        1: {"Hindi": 60, "English": 80, "Maths": 100},
        2: {"Hindi": 100, "English": 120, "Maths": 120},
        3: {"Hindi": 150, "English": 150, "Maths": 250},
        4: {"Hindi": 150, "English": 150, "Science": 250}
    },

    "5th-8th": {
        1: {"Hindi": 60, "English": 80, "Maths": 100},
        2: {"Hindi": 100, "English": 120, "Science": 140},
        3: {"Hindi": 150, "English": 150, "Maths": 250},
        4: {"Hindi": 150, "English": 150, "Science": 250}
    },

    "9th-10th": {
        1: {"Hindi": 100, "English": 100, "Maths": 200},
        2: {"Hindi": 120, "English": 120, "Science": 250},
        3: {"Hindi": 150, "English": 150, "Maths": 250},
        4: {"Hindi": 150, "English": 150, "Science": 250}
    },

    "Notebooks": {
        1: {"Square": 40, "Single Line": 30},
        2: {"Square": 50, "Single Line": 50},
        3: {"Square": 60, "4 Lines": 60},
        4: {"A4": 100}
    }
}


groups = {
    "1": "1st-4th",
    "2": "5th-8th",
    "3": "9th-10th",
    "4": "Notebooks"
}


cart = []
total = 0

def show_menu():
    print("\nBOOK STORE")
    print("1.1st-4th")
    print("2.5th-8th")
    print("3.9th-10th")
    print("4.Notebooks")
    print("0.Exit")


while True:

    try:

        show_menu()
        choice = input("Select (0-4): ")

        if choice == "0":
            break

        if choice not in groups:
            raise ValueError("Invalid Group Choice")

        group = groups[choice]

        print("\nBooks Available:")
        for i in range(1, 5):
            print(f"{i}. Book {i}")

        book = int(input("Select Book (1-4): "))

        if book not in [1, 2, 3, 4]:
            raise ValueError("Invalid Book Number")

        subjects = bookstore[group][book]

        print("\nSubjects:")
        sub_list = list(subjects.keys())

        for i, s in enumerate(sub_list, 1):
            print(f"{i}. {s} - rs{subjects[s]}")

        sub_choice = int(input("Select Subject: "))

        if sub_choice not in range(1, len(sub_list)+1):
            raise ValueError("Invalid Subject")

        subject = sub_list[sub_choice-1]
        price = subjects[subject]

        cart.append((subject, price))
        total += price

        print(f" Added: {subject} - rs{price}")


    except ValueError as v:
        print("Error:", v)

    except Exception:
        print("Something went wrong! Try again.")

    finally:
        print("------------------------")



print("\n======== BILL ========")

for item, price in cart:
    print(f"{item:<15} rs{price}")

print("----------------------")
print(f"TOTAL : {total}")
print("======================")

BOOK STORE
1.1st-4th
2.5th-8th
3.9th-10th
4.Notebooks
0.Exit
------------------------

KeyboardInterrupt: Interrupted by user

# Type Casting

In [ ]:
# 17.	Create a=100
# •	Convert a to string
# •	Convert a to list
# •	Convert a to tuple
# •	Convert a to dict
# •	Convert a to set
# •	Convert to float
# Observe the errors and note it down for all conversions.

a = 100

str(a)

tuple(a)

dict(a)

set(a)

float(a)

'100'

In [ ]:
a = 100
list(str(a))

['1', '0', '0']

In [ ]:

tuple(str(a))

('1', '0', '0')

In [ ]:
{a: "value"}

{100: 'value'}

In [ ]:
dict([(a, "value")])

{100: 'value'}

In [ ]:
set(str(a))

{'0', '1'}

In [ ]:
float(a)

100.0

In [ ]:
# 8.	Create city = “Pune”
# •	Convert to int
# •	Convert float
# •	Convert list
# •	Convert tuple
# •	Convert dict
# •	Convert set
# •	Obsert errors and note it down for all conversions

In [ ]:
city = "Pune"

int(city)

ValueError: invalid literal for int() with base 10: 'Pune'

In [ ]:
float(city)

ValueError: could not convert string to float: 'Pune'

In [ ]:
list(city)

['P', 'u', 'n', 'e']

In [ ]:
tuple(city)

('P', 'u', 'n', 'e')

In [ ]:
dict(city)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
set(city)

{'P', 'e', 'n', 'u'}

In [ ]:
# 9.	Create a list as marks = [20,18,15,17,18]
# •	Convert to int
# •	Convert float
# •	Convert list
# •	Convert tuple
# •	Convert dict
# •	Convert set


# •	observe : errors and note it down for all conversions

marks = [20,18,15,17,18]

In [ ]:
int(marks)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
float(marks)

TypeError: float() argument must be a string or a real number, not 'list'

In [ ]:
list(marks)

[20, 18, 15, 17, 18]

In [ ]:
list(marks)

[20, 18, 15, 17, 18]

In [ ]:
tuple(marks)

(20, 18, 15, 17, 18)

In [ ]:
dict(marks)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [ ]:
set(marks)

{15, 17, 18, 20}

I OBSERVE ALL THE ERRORS


# List operations

In [ ]:
# 10.	Create the empty list snames
# •	 Add value 20 in the list using append
# •	 Add value 30 in the list using extend
# •	Add values in the list using append
# •	Add value “WORK" in the list using extend
# •	 Create a new list combo having the values [1, 'a', 'b' ,2 , 3]
# •	Add sname to combo using addition operator
# •	Add combo to snames using append
# •	Add combo to snames using extend

snames = []

In [ ]:
snames.append(20)

In [ ]:
snames.extend([30])

In [ ]:
snames.append(40)
snames.append(50)

In [ ]:
snames.extend("WORK")

In [ ]:
combo = [1, 'a', 'b', 2, 3]

In [ ]:
combo = combo + snames

In [ ]:
snames.append(combo)

In [ ]:
snames.extend(combo)

In [ ]:

snames

[20,
 30,
 40,
 50,
 'W',
 'O',
 'R',
 'K',
 [1, 'a', 'b', 2, 3, 20, 30, 40, 50, 'W', 'O', 'R', 'K'],
 1,
 'a',
 'b',
 2,
 3,
 20,
 30,
 40,
 50,
 'W',
 'O',
 'R',
 'K']

In [ ]:
#11.	Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1


l1 = [10, 20]
l3 = [1, 2, 3, 4, 5, 6, 7]
l3.insert(3, l1)
print(l3)

[1, 2, 3, [10, 20], 4, 5, 6, 7]

In [ ]:
#12:.	Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.
# •	From the collection delete the record for “Nisha”
# •	Find the location of 20.50

collection = [1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10]

In [ ]:
for i in range(len(collection)):
    if type(collection[i]) == int or type(collection[i]) == float:
        collection[i] = collection[i] * 5

In [ ]:
collection.remove("Nisha")

In [ ]:
pos = collection.index(20.50 * 5)

In [ ]:
collection

[5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]

In [ ]:
pos

5

In [ ]:
#13.	Create a comprehensive list for square upto 10
squares = [x*x for x in range(1, 11)]

In [ ]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#14.	Create the comprehensive list to find number divisible by 13 till 200
div13 = [x for x in range(1, 201) if x % 13 == 0]

In [ ]:
div13

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
#15.	Create the list which is divisible by 4 from 300 to 400
div = [x for x in range(300, 401) if x % 4 == 0]

In [ ]:
div

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400]

In [ ]:
# 16.	Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]
# Then generate a new list based on all combination of x and y.
# For example: if x = 1 and y =2  then x_list = [0] and y_list = [0,1]
# And output will be [[0,0],[0,1]]
# If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

[[i,j] for i in range(5)  for j in range(5)]

[[0, 0],
 [0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [1, 0],
 [1, 1],
 [1, 2],
 [1, 3],
 [1, 4],
 [2, 0],
 [2, 1],
 [2, 2],
 [2, 3],
 [2, 4],
 [3, 0],
 [3, 1],
 [3, 2],
 [3, 3],
 [3, 4],
 [4, 0],
 [4, 1],
 [4, 2],
 [4, 3],
 [4, 4]]

In [ ]:
# 17.	 What is the difference between add and update methods in set?
# add() adds a new element to a set; 
# update() adds multiple elements from an iterable into the set

# 18.What is the difference between append and extend methods in list?
# append() adds a single element to a list; 
# extend() adds each element from an iterable to the list

# 19.What is the difference between pop and remove methods?
# pop() removes and returns element by index (last by default); 
# remove() deletes first matching value

# 20.What is the difference between discard, pop, remove methods?
# discard() removes value if present (no error); 
# remove() removes value (error if absent);
# pop() removes & returns arbitrary set element

# 21.How to create empty set?
# my_set = set()

In [ ]:
# 22.	Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}

In [ ]:
# Union
s1 | s2

{10, 20, 30, 40, 50, 60, 70}

In [ ]:
# Intersection
s1 & s2

{30, 40, 50}

In [ ]:
# Difference (s1 - s2)
s1 - s2

{10, 20}

In [ ]:
# Difference (s2 - s1)
s2 - s1

{60, 70}

In [ ]:
# Symmetric Difference
s1 ^ s2

{10, 20, 60, 70}

In [ ]:
# 23.	Create l2 as a list and perform set operation on s1 with l1
l2 = [40, 50, 60, 80]

In [ ]:

l2_set = set(l2)

In [ ]:
# Union
s1 | l2_set

{10, 20, 30, 40, 50, 60, 80}

In [ ]:
# Intersection
s1 & l2_set

{40, 50}

In [ ]:
# Difference
s1 - l2_set

{10, 20, 30}

In [ ]:
# 24.	Ask user to enter the name and DOB and generate the password based on first name 4 characters and  @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505
name = input("Enter Name: ")
dob = input("Enter DOB (dd-mm-yyyy): ")

Enter Name: Bhushan
Enter DOB (dd-mm-yyyy): 10-08-2003

In [ ]:
first_part = name[:4]

In [ ]:
# Get day and month
date_part = dob[:2] + dob[3:5]

In [ ]:
# Create password
password = first_part + "@" + date_part

In [ ]:
password

'Bhus@1008'

In [ ]:
# 25.	Ask user to enter the name and DOB and
#  generate the password based on first name 4 characters and
#  last 4 digits of DOB or year @yyyy. For example name = SURESH and
# DOB = 05-05-1978 then password will be SURE@1978
name = input("Enter Name: ")
dob = input("Enter DOB (dd-mm-yyyy): ")

In [ ]:
def generate_password():
  try:
    name = input("Enter your name: ")
    dob = input("Enter your date of birth (dd-mm-yyyy): ")
    first_part = name[:4]
    year_part = dob[-4:]
    password = first_part + "@" + year_part
    return password
  except:
    print("Invalid Input")
    return generate_password()

In [ ]:
generate_password()

Enter your name: bhushan
Enter your date of birth (dd-mm-yyyy): 10-08-2003

'bhus@2003'

In [ ]:
# 26.	Create the format mentioned here.
# *
# * *
# * * *
# * * * *

def pattern26(n):
    if n <= 0:
        print("Invalid rows")
        return
    for i in range(1, n + 1):
        for j in range(i):
            print("*", end=" ")
        print()

In [ ]:
# 27.	Create the format as mentioned below:
# ****
# ***
# **
# *
def p27(n):
    if n <= 0:
        print("Invalid rows")
        return
    for i in range(n, 0, -1):
        for j in range(i):
            print("*", end=" ")
        print()

In [ ]:
# 41.	Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.
# For example:
# {}
# {1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}
# {1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},
# 2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}

customers = {}

while True:
    name = input("Enter Name: ")
    dob = input("Enter DOB (dd-mm-yyyy): ")
    mobile = input("Enter Mobile Number: ")


    cust_no = len(customers) + 1

    customers[cust_no] = {
        "name": name,
        "DOB": dob,
        "mobile": mobile
    }

    print("Customer Added Successfully!")
    print(customers)
    ch = input("Add more? (y/n): ")

    if ch.lower() != 'y':
        break

In [ ]:
customers = {}

while True:

    try:
        name = input("Enter Name: ")
        dob = input("Enter DOB: ")
        mobile = input("Enter Mobile: ")

        cust_no = len(customers) + 1

        customers[cust_no] = {
            "name": name,
            "DOB": dob,
            "mobile": mobile
        }

        print("Customer Added Successfully")
        print(customers)

        ch = input("Add more? (y/n): ")

        if ch.lower() != 'y':
            break

    except:
        print("Invalid Input, Try Again")

Enter Name: bhushan
Enter DOB: 10-08-2003
Enter Mobile: 8149593911
Customer Added Successfully
{1: {'name': 'bhushan', 'DOB': '10-08-2003', 'mobile': '8149593911'}}
Add more? (y/n): hhi

In [ ]:
# 42.	Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log
# Create empty dictionary

In [ ]:
# 43.	Based on the above example read the file cust_info.txt . check if dictionary any information is available in the file. If there is information then read the dictionary store into one variable and then append new information of customer if added.

In [ ]:
# 44.	Create a table  cust_info as sr_no, name, DOB, mobile.
#Ask user to enter the information from python code.
#Validate all fields and after validation insert records in the table